[submodule "deps/googletest"]
	path = deps/googletest
	url = https://github.com/google/googletest.git
[submodule "deps/rapidyaml"]
	path = deps/rapidyaml
	url = https://github.com/biojppm/rapidyaml.git
