[submodule "deps/rapidjson"]
	path = deps/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "deps/googletest"]
	path = deps/googletest
	url = https://github.com/google/googletest.git
[submodule "deps/gsl"]
	path = deps/gsl
	url = https://github.com/ampl/gsl.git
[submodule "deps/grpc"]
	path = deps/grpc
	url = https://github.com/grpc/grpc.git
[submodule "deps/rocksdb"]
	path = deps/rocksdb
	url = https://github.com/facebook/rocksdb.git
[submodule "deps/zlib"]
	path = deps/zlib
	url = https://github.com/madler/zlib.git
[submodule "deps/gflags"]
	path = deps/gflags
	url = https://github.com/gflags/gflags.git
[submodule "deps/snappy"]
	path = deps/snappy
	url = https://github.com/google/snappy.git
[submodule "deps/bzip2-1.0.6"]
	path = deps/bzip2-1.0.6
	url = https://github.com/enthought/bzip2-1.0.6.git
[submodule "deps/lz4"]
	path = deps/lz4
	url = https://github.com/lz4/lz4.git
[submodule "deps/zstd"]
	path = deps/zstd
	url = https://github.com/facebook/zstd.git
[submodule "deps/jemalloc"]
	path = deps/jemalloc
	url = https://github.com/jemalloc/jemalloc.git
[submodule "deps/yaml-cpp"]
	path = deps/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "deps/glog"]
	path = deps/glog
	url = https://github.com/google/glog.git
